html {
    box-sizing: border-box; /* Prevents padding from adding extra width/height to the page */
}

body {
    margin: 0;
    min-height: 100vh; /* Always stretch background to to at least the full height of the screen even if the content isn't enough to take up the full height of the screen */
}